.box-title {
  margin-top: 10px;
}

.box-desc {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}
.box-link {
  margin-left: 10px;
}

.tech {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.icon {
  margin-left: 10px;
  font-size: 22px;
}

.firebase-size {
  width: 20px;
}

.redux-size {
  width: 30px;
}

.material-size {
  margin-top: 3px;
  width: 30px;
}

.box-links {
  display: flex;
  justify-content: center;
}

.box-links a {
  color: #282830;
  text-decoration: none;
  cursor: pointer;
}

.box-links a:hover {
  cursor: pointer;
  color: #ff5486;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .tech {
    display: flex;
  }

  .icon {
    margin-left: 2px;
    font-size: 20px;
  }

  .firebase-size {
    width: 20px;
  }

  .redux-size {
    width: 30px;
  }

  .material-size {
    margin-top: 3px;
    width: 30px;
  }
}
