.angled-section {
  height: 250px;
  margin-bottom: 5px;
  background-image: linear-gradient(#ff80ab, #ff5486);
  transform: skewY(4deg);
  transform-origin: top right;
  z-index: 0;
}

.page-title {
  position: fixed;
  top: 0px;
  transform: skewY(-4deg);
  color: white;
  margin-left: 225px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 7%;
  padding-bottom: 30px;
  font-family: "Titillium Web";
  letter-spacing: 1.5px;
  font-weight: 600;
  z-index: 2;
  font-size: 3em;
}

h1 {
  font-weight: 400;
  font-size: 30px;
}

.border-title {
  width: 55px;
  height: 8px;
  background: #ffb2cc;
  border-radius: 20px;
  margin-top: 8px;
}

.angled-image {
  width: 250px;
  border-radius: 20%;
  margin-top: 15px;
  margin-left: 50px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .angled-section {
    height: 200px;
    margin-bottom: 5px;
    background-image: linear-gradient(#ff80ab, #ff5486);
    transform: skewY(4deg);
    transform-origin: top right;
    z-index: 0;
  }

  .page-title {
    transform: skewY(-4deg);
    color: white;
    font-family: Nunito;
    z-index: 2;
    margin-top: 20%;
    margin-left: 0px;
  }

  .border-title {
    width: 55px;
    height: 8px;
    background: #ffb2cc;
    border-radius: 20px;
    margin-top: 8px;
  }

  h1 {
    font-weight: 400;
    font-size: 25px;
  }
}
