.container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.about-me {
  margin-left: 35%;
  font-size: 22px;
  font-family: "Titillium Web";
  text-align: left;
  width: 45%;
  line-height: 1.6em;
  margin-top: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .about-me {
    margin: 0 auto;
    font-size: 18px;
    font-family: "Titillium Web";
    text-align: center;
    width: 100vw;
    line-height: 2em;
    margin-top: 45%;
    height: 50vh;
    margin-bottom: 5%;
  }

  .angled-image {
    display: block;
  }
}
