.container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.contact {
  margin-left: 30%;
  margin-top: 20px;
  font-size: 22px;
  font-family: "Titillium Web";
  text-align: left;
  width: 50%;
  line-height: 1.6em;
}

.email {
  display: inline;
  text-decoration: underline;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contact {
    margin: 0 auto;
    font-size: 18px;
    font-family: "Titillium Web";
    text-align: center;
    width: 100vw;
    line-height: 2em;
    margin-top: 30%;
    height: 50vh;
  }

  .email {
    display: inline;
    text-decoration: underline;
    color: #282830;
    text-decoration: underline;
    text-transform: lowercase;

    }
    
    .email:hover {
      cursor: pointer;
      color: #ff5486;
    }
  }
}

