.container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.contact {
  margin-left: 25%;
  margin-top: 20px;
  font-size: 22px;
  font-family: "Titillium Web";
  text-align: left;
  line-height: 1.6em;
}

.contact ul {
  list-style: none;
  font-size: 20px;
  margin-left: 20%;
}

.contact li a {
  margin: 20px;
  color: #282830;
}

.contact li a:hover {
  cursor: pointer;
  color: #ff80ab;
}

.email {
  display: inline;
  text-decoration: underline;
}

.contact-header-social {
  display: flex;
  margin-top: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contact {
    margin: 0 auto;
    font-size: 18px;
    font-family: "Titillium Web";
    text-align: center;
    width: 100vw;
    line-height: 2em;
    margin-top: 30%;
    height: 50vh;
  }

  .email {
    display: inline;
    text-decoration: underline;
    color: #282830;
    text-decoration: underline;
    text-transform: lowercase;
  }

  .email:hover {
    cursor: pointer;
    color: #ff5486;
  }
}
