#menu-header {
  margin-top: 15px;
  padding: 0;
}

.top {
  background-color: #282830;
  width: 225px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 99;
  border-top: 3px solid #282830;
}

.top-border {
  border-top: 3px solid #ff80ab;
}

.home-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 30px;
  justify-content: center;
}

nav {
  display: block;
}

ul {
  list-style: none;
}

.menu-item {
  text-align: center;
}

.menu-item a {
  padding: 10px;
  font-size: 18px;
  display: block;
  font-family: "Titillium Web";
  letter-spacing: 1.5px;
}

a {
  color: #9b9b9b;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
  color: #ff80ab;
}

a:active {
  border-left: 2px solid #ff80ab;
}

.header-social {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9b9b9b;
  padding-left: 0;
}

.social-item {
  margin: 10px;
  font-size: 20px;
}

li.social-item:hover {
  cursor: pointer;
  color: #ff80ab;
  transform: scale(1.5);
  transition: transform 0.2s;
}

img {
  border-radius: 20%;
}

span {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  nav {
    display: none;
  }

  .top {
    background-color: #282830;
    width: 100%;
    position: fixed;
    height: 60px;
    top: 0px;

    border-top: 3px solid #282830;
  }

  span {
    font-size: 20px;
    display: block;

    text-transform: uppercase;
    font-family: Nunito;
    color: #e1e1e1;
  }

  img {
    display: none;
    border-radius: 20%;
    position: absolute;
    left: 300px;
    top: 2px;
    width: 2em;
  }
}
