footer {
  font-family: "Titillium Web";
  color: #717171;
  font-size: 14px;
  background-color: #f1f1f1;
  margin-top: auto;
}

.footer-items ul {
  display: flex;
  justify-content: center;
  align-items: space-between;
  margin-left: 225px;
}

.footer-item {
  margin: 20px;
  font-size: 20px;
  color: #717171;
}

.footer-item:hover {
  cursor: pointer;
  color: #313131;
}

.footer-text {
  text-align: center;
  margin-left: 225px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .footer-text {
    text-align: center;
    margin-left: 0;
  }

  .footer-items ul {
    display: flex;
    justify-content: center;
    align-items: space-between;
    margin-left: 0;
  }

  .footer-item:hover {
    cursor: pointer;
    color: #313131;
  }
}
